*{
    font-family: Arial, Helvetica, sans-serif;
}

/* aturan terakhir */
i {
    color: green;
}

i {
    color: red; /*yang diambil ini*/
}

/* spesifik */

b {
    color: pink;
}

p b {
    color:brown !important;
}
p b {
    color: blue;
}